
# Created by https://www.toptal.com/developers/gitignore/api/basic,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=basic,visualstudiocode

### Basic ###
# Apples Build
*.build
*.apples

# Initialized files
*.exe
*.ini
*.basic

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/basic,visualstudiocode

# Exclude PDF docs
*.pdf
